<%= t "Frequently Asked Questions" %>

<% cache do %>
<ol>
	<li>
		<p><strong>Are you a PAC? Super PAC? Non profit?</strong></p>
		<p>All of the above, actually. We're a group of three separate but collaborating non-profit corporations:
			<ol>
				<li>Make Your Laws PAC, Inc. (MYL PAC), a 527 hybrid non-connected Super PAC (<a href="http://images.nictusa.com/cgi-bin/fecimg/?C00529743">FEC ID #C00529743</a>, EIN 46-0580579, <%= link_to "bylaws", about_pac_bylaws_path %>, <%= link_to "finances", about_pac_finances_path %>), handles candidate-related issues, like contributions to federal and state candidates or parties.</li>
				<li>Make Your Laws Advocacy, Inc. (MYL C4), a 501(c)4 (EIN 46-0587765, <%= link_to "bylaws", about_c4_bylaws_path %>, <%= link_to "finances", about_c4_bylaws_path %>), handles non-candidate-related advocacy issues, like contributions to voter initiative committees.</li>
				<li>Make Your Laws Inc. (MYL C3), a 501(c)3 (EIN 61-1686259, <%= link_to "bylaws", about_c3_bylaws_path %>, <%= link_to "finances", about_c3_bylaws_path %>), handles non-partisan, non-contribution-related issues, like voter education, forum creation, etc.</li>
			</ol>
		</p>
		<p>Of the three, only MYL PAC is currently active, and pays for all our operating costs. The other two are on hold until we <%= link_to "ask the FEC", fec_path %> for advice about how to handle some organizational and financial issues.</p>
		<p>Although all MYL entities are tax-exempt nonprofit corporations, contributions to MYL PAC and MYL C4 are <strong>not</strong> tax deductible; contributions to MYL C3 are.</p>
	</li>
	<li>
		<p><strong>How do you get/spend your money?</strong></p>
		<p>Right now our costs are just this server, corporate filing fees, and the like, and are paid by the MYL founders. You can read <%= link_to "all our FEC reports", about_pac_fec_reports_path %>, or our financial spreadsheets above.</p>
		<p>We haven't yet launched our full website (where you'll be able to contribute easily to any political organization), but if you <%= link_to "create an account", signup_path %>, we'll let you know when that happens.</p>
	</li>
</ol>

<% end %>