<%= t "Our activity before the Federal Election Commission" %>

<% cache do %>
<ul>
    <li><strong>Pending:</strong> REG 2014-01 post-<em>McCutcheon</em> rulemaking: <a href="/files/2015-01-14 MYL PAC comment on McCutcheon rulemaking.pdf">official comments</a></li>
    <li><strong>Submitted:</strong> AO 2014-20 <%= link_to "Should PACs be allowed to receive contributions of intellectual property from foreign nationals' volunteer services?", fec_volunteer_ip_path %></li>
	<li><strong>Draft:</strong> <%= link_to "Should you be allowed to make very flexible earmarks?", fec_earmarks_path %>
	<li><strong>Approved:</strong> AO 2014-02 <%= link_to "Should PACs be allowed to accept Bitcoin contributions?", fec_bitcoin_path %></li>
	<li><strong>Deadlocked:</strong> AO 2013-17 <%= link_to "Should the Tea Party Leadership Fund be granted an exemption from campaign finance reporting?", fec_tplf_path %>
</ul>

<% end %>