<%= t "Our activity before the Federal Election Commission" %>

<% cache do %>
<ul>
    <li><strong>Submitted:</strong> AO 2014-20 <%= link_to "Should PACs be allowed to receive contributions of intellectual property from foreign nationals' volunteer services?", fec_volunteer_ip_path %></li>
	<li><strong>Draft:</strong> <%= link_to "Should you be allowed to make very flexible earmarks?", fec_earmarks_path %>
	<li><strong>Finished (with unanimous approval of most parts)</strong> AO 2014-02 <%= link_to "Should PACs be allowed to accept Bitcoin contributions?", fec_bitcoin_path %></li>
	<li><strong>Finished (with no FEC decision):</strong> AO 2013-17 <%= link_to "Should the Tea Party Leadership Fund be granted an exemption from campaign finance reporting?", fec_tplf_path %>
</ul>

<% end %>