<%= t "Our activity before the Federal Election Commission" %>

<% cache do %>
<ul>
    <li><strong>Submitted:</strong> <%= link_to "Should the FEC prohibit contribution laundering?", fec_laundering_path %></li>
	<li><strong>Draft:</strong> <%= link_to "Should you be allowed to make very flexible earmarks?", fec_earmarks_path %></li>
    <li><strong>Pending:</strong> REG 2014-01 post-<em><a href="http://www.fec.gov/law/litigation/McCutcheon.shtml">McCutcheon</a></em> <a href="http://www.fec.gov/pages/hearings/McCutcheonRulemakingPublicHearing.shtml">rulemaking</a>: <a href="/files/2015-01-14 MYL PAC comment on McCutcheon rulemaking.pdf">official comments</a>, <a href="https://www.youtube.com/watch?v=rLwG_19wReU">testimony video</a> (<a href="/files/sai_mccutcheon_transcript.txt">transcript</a>)</li>
    <li><strong>Approved (4-2):</strong> AO 2014-20 MYL PAC <%= link_to "Are PACs allowed to receive contributions of intellectual property from foreign nationals' volunteer services? Yes.", fec_volunteer_ip_path %></li>
	<li><strong>Approved (6-0):</strong> AO 2014-02 MYL PAC <%= link_to "Are PACs allowed to accept limited Bitcoin contributions? Yes.", fec_bitcoin_path %></li>
    <li><strong>Deadlocked (3-3):</strong> AO 2013-15 CAF <%= link_to "Should PACs be allowed to accept Bitcoin contributions as 'money'? No.", fec_bitcoin_caf_path %></li>
	<li><strong>Deadlocked (2-3):</strong> AO 2013-17 TPLF <%= link_to "Should the Tea Party Leadership Fund be granted an exemption from campaign finance reporting?", fec_tplf_path %></li>
</ul>

<% end %>