<%= t "Your one stop site for all political contributions" %>

<% cache do %>

<div class="flash notice">
	<%= link_to "Can you use Bitcoin to make political contributions?", fec_bitcoin_path %><br/>
	The first FEC hearing is scheduled for <s><a href="http://fec.gov/agenda/2014/agenda20140403.shtml">April 3<sup>rd</sup></a></s> <a href="http://fec.gov/agenda/2014/agenda20140423.shtml">April 23<sup>rd</sup></a>.
	<br/>The <a href="http://saos.fec.gov/aodocs/201402.pdf">first draft opinion</a> is up. We'll file comments shortly; <%= link_to "you can too", fec_bitcoin_path(anchor: 'comment') %>.
	<br/><br/>
	<a href="https://www.youtube.com/watch?v=jahnHk6DAoI&list=PLB350213D4F5B545C">Video</a> from Sai at the <a href="http://www.coe.int/en/web/world-forum-democracy/lab11_">World Forum for Democracy 2013</a> is now up on <a href="https://youtube.com/makeyourlaws">our YouTube channel</a>.
</div>

<h3>Make Your Laws is launching soon.</h3>

<p>When we do, you will be able to use this website to easily make all kinds of political contributions, using <%= link_to "flexible tools", fec_earmarks_path %> that empower normal people and transparently use the trust and advice relationships they already have.</p>

<p>This is our <%= link_to "first step", strategy_path %> towards our ultimate goal of making every legislature a <%= link_to "liquid democracy", introduction_path %> — one where you can participate as much you want, collaboratively author new legislation, have your values be accurately represented on every issue, and truly <em>make your laws</em>.</p>

<h3>Interested?</h3>

<p>If you <%= link_to "create an account", signup_path %>, we'll give you early access to the beta version.</p>

<% end %>