<tr>
  <td><%= f.label :jurisdiction, :class => 'required' %></td>
  <td><%= f.select :jurisdiction, Initiative::JURISDICTIONS, {:include_blank => true } %></td>
</tr>
<tr>
	<td><%= f.label :election_type %></td>
	<td><%= f.select :election_type, Initiative::ELECTION_TYPES, {:include_blank => true} %>
</tr>
<tr>
  <td><%= f.label :election_date %></td>
  <td><%= f.datepicker :election_date, :size => 10 %></td>
</tr>
<tr>
  <td><%= f.label :filing_date %></td>
  <td><%= f.datepicker :filing_date, :size => 10 %></td>
</tr>
<tr>
  <td><%= f.label :summary_date %></td>
  <td><%= f.datepicker :summary_date, :size => 10 %></td>
</tr>
<tr>
  <td><%= f.label :circulation_deadline %></td>
  <td><%= f.datepicker :circulation_deadline, :size => 10 %></td>
</tr>
<tr>
  <td><%= f.label :full_check_deadline %></td>
  <td><%= f.datepicker :full_check_deadline, :size => 10 %></td>
</tr>
<tr>
	<td><%= f.label :initiator_type, 'Initiator' %></td>
	<td><%= f.select :initiator_type, Initiative::INITIATOR_TYPES, {:include_blank => true} %>
</tr>
	<td><%= f.label :initiative_type %></td>
	<td><%= f.select :initiative_type, Initiative::INITIATIVE_TYPES, {:include_blank => true} %>
<tr>
<tr>
	<td><%= f.label :indirect %></td>
	<td><%= f.check_box :indirect %></td>
</tr>
<tr>
	<td><%= f.label :initiative_name %></td>
	<td><%= f.text_field :initiative_name, :placeholder => "e.g. 11-0035" %></td>
	<td><i>This is the identifier it had while qualifying - should be on secretary of state website</i></td>
</tr>
<tr>
	<td><%= f.label :proposition_name %></td>
	<td><%= f.text_field :proposition_name, :placeholder => "e.g. Proposition 34" %></td>
</tr>
<tr>
	<td><%= f.label :title %></td>
	<td><%= f.text_field :title, :placeholder => "e.g. Death Penalty Repeal" %></td>
	<td><i>don't include redundant info - eg 'Initiative Statue' is a field above</i></td>
</tr>
<tr>
	<td><%= f.label :informal_title %></td>
	<td><%= f.text_field :informal_title, :placeholder => "e.g. The SAFE California Act" %></td>
	<td><i>Go with 1. what it calls itself in the full text, 2. what the proponents call it, 3. what the media call it</i></td>
</tr>
<tr>
	<td><%= f.label :short_summary %></td>
	<td><%= f.text_area :short_summary %></td>
	<td><i>Format using <a href="http://daringfireball.net/projects/markdown/basics">Markdown</a> syntax.</i></td>
</tr>
<tr>
	<td><%= f.label :summary %></td>
	<td><%= f.text_area :summary %></td>
</tr>
<tr>
	<td><%= f.label :analysis %></td>
	<td><%= f.text_area :analysis %></td>
</tr>
<tr>
	<td><%= f.label :text %></td>
	<td><%= f.text_area :text %></td>
</tr>
<tr>
	<td><%= f.label :wikipedia_url %></td>
	<td><%= f.text_field :wikipedia_url %></td>
</tr>
<tr>
	<td><%= f.label :ballotpedia_url %></td>
	<td><%= f.text_field :ballotpedia_url %></td>
</tr>
