<%= t "Bitcoin contributions to PACs" %>

<% cache do %>

<p class="flash notice">
	The <a href="http://saos.fec.gov/aodocs/201402.pdf">first</a> ("yes") and <a href="http://saos.fec.gov/aodocs/201402_1.pdf">second</a> ("no") draft opinions are up. We'll file comments shortly; <a href="#comment">you can too</a>.
	<br/>
	On April 23<sup>rd</sup>, we'll broadcast the <a href="http://fec.gov/agenda/2014/agenda20140423.shtml">first FEC meeting</a> as a <a href="https://plus.google.com/events/cg6fvrd55f4cvt9vi4uvtqockfk">live hangout</a>, where you can participate.
</p>

<p class="c b">
	<%= link_to "Google Doc of our full request", fec_bitcoin_aor_path, :target => 'blank' %> - <a href="#docs">AO 2014-02 official documents</a>
</p>

<p>Recently, the FEC <%= link_to "was asked to consider", fec_bitcoin_caf_path %> whether <a href="http://en.wikipedia.org/wiki/Bitcoin">Bitcoins</a> should be allowed in political contributions. Because the PAC requesting to use Bitcoins wasn't able to explain how they would know who made the contributions, the FEC ultimately deadlocked on their <a href="http://www.fec.gov/pages/brochures/ao.shtml" target="_blank">advisory opinion</a> request (AOR). In the meantime, other political committees are <%= link_to "already accepting Bitcoin", fec_bitcoin_pacs_path %>, without any guidelines for how to do so properly.</p>

<p>We strongly believe that campaign finance needs to be done in a transparent, auditable, and responsible manner. We also want to give our users the ability to make political contributions using Bitcoin.</p>

<p>In order to set an example for how this can be done responsibly, on February 10<sup>th</sup> 2014, <%= link_to "Make Your Laws PAC", faq_path %> (MYL PAC) submitted a new request, proposing how we intend to accept Bitcoins.</p>

<p>Because of the legal context of this request, we can only ask the FEC to approve our own activity; we can't ask them to impose <em>requirements</em> on other political committees. However, if we are successful in getting the FEC's approval for our method, it's likely that other political committees will adopt the same policy.</p>

<p>Here's a summary of <%= link_to "our proposal", fec_bitcoin_aor_path, :target => 'blank' %>:
	<ol>
		<li><strong>Receiving Bitcoin</strong>
			<ol>
				<li>We will only receive Bitcoins online (i.e. no "physical" Bitcoins), <em>after</em> the contributor provides their information, and only through a "one-time linked address" system that makes it harder to contribute in someone else's name.</li>
				<li>We will keep records of all Bitcoin-specific transaction details (much like the records kept for check or credit card contributions).</li>
				<li>We won't accept any Bitcoins or Bitcoin-derived contributions from any "issue advocacy" (501(c)4) organization.</li>
				<li>Both the "traditional" and "SuperPAC" sides of MYL PAC (which is a "hybrid" SuperPAC) will follow the same rules. Bitcoin contributions will be separated the same as any other assets (e.g. with separate "contribution" vs "independent expenditure" wallets).</li>
				<li>We will refund Bitcoins in USD only, for contributors who have identified themselves to us. (Our request <a href="#other">doesn't address</a> anonymous contributions.)</li>
				<li>We won't accept more than $100 worth of Bitcoin (per contributor, per election), because even with our proposed accounting methods, Bitcoin's auditability is more like <a href="http://www.law.cornell.edu/cfr/text/11/110.4#c">cash contributions</a> than like contributions mediated by banks.</li>
			</ol>
		</li>
		<li><strong>Spending Bitcoin</strong>
			<ol>
				<li>We <em>won't</em> directly spend Bitcoins for solicitation, advertising, polling, transfers, loans, refunds, candidate appearances, or political contributions (including transfers to other PACs). Instead, we'll liquidate them to US dollars first.</li>
				<li>We <em>will</em> spend Bitcoins for administrative/overhead expenses (including normal transaction fees to anonymous Bitcoin miners), salary, travel, campaign materials, and campaign event expenses (not including payments to candidates).</li>
				<li>We will accept merchants' Bitcoin-specific discounts (if they're offered equally to non-political clients).</li>
			</ol>
		</li>
	</ol>
</p>

<a name="c4"></a>
<h2><a href="#c4">Why different treatment for some types of spending and contributions?</a></h2>

<p>A 501(c)4 is only supposed to do "issue advocacy" (e.g. "Yes on Proposition X" type campaigns, lobbying, etc). In doing so, they are allowed to accept totally anonymous money. By contrast, PACs affect political elections, and anyone doing so is required to only use money from openly disclosed, non-foreign sources.</p>

<p>There's currently a <a href="https://en.wikipedia.org/wiki/501(c)_organization#501.28c.29.284.29">giant loophole</a> in that system which lets 501(c)4s effectively bypass that restriction and give up to half of their assets to a SuperPAC, which can then use the money to run political ads — even though the ultimate contributors aren't reported and might not even be legally allowed to influence US elections. (The IRS is <a href="https://www.federalregister.gov/articles/2013/11/29/2013-28492/guidance-for-tax-exempt-social-welfare-organizations-on-candidate-related-political-activities" target="_blank">currently considering closing</a> this loophole.) Because 501(c)4 contributions may ultimately originate from a totally anonymous third party or a foreign national, especially in the case of Bitcoin, we believe that a PAC shouldn't accept any Bitcoin contributions from a 501(c)4.</p>

<p>We feel that it should be fine for a PAC to use Bitcoin to buy food, pay salaries, and other relatively less sensitive items — but that money spent on advertising, political contributions, etc., should go through better regulated, traditional banking channels, which are easier to audit when necessary.</p>

<a name="other"></a>
<h2><a href="#other">What we <em>didn't</em> cover</a></h2>

<p>In order to simplify this request, we decided <em>not</em> to include a few things that we'd like to see addressed:</p>

<ol>
	<li><p>We believe that Bitcoin contributions that are anonymous, suspicious, or illegal for a PAC to accept should be given to the US Treasury, or to a 501(c)4 or 501(c)3 (which, unlike PACs, are allowed to take totally anonymous contributions and contributions from foreign nationals). However, <a href="http://www.law.cornell.edu/cfr/text/11/103.3#b">current FEC regulations</a> require even clearly illegal contributions to be returned to the contributor.</p>
		<p>It is not currently possible to reliably return Bitcoins to the control of the person who sent them, and we believe it is more ethical to give illegal campaign finance contributions to an entity allowed to take anonymous contributions than to return them.</p>
		<p>Even worse, it is impossible to prevent totally anonymous Bitcoin users from sending us Bitcoins <em>outside</em> of our system for getting information on contributors. Any such contributions would be both illegal for us to possess and impossible to return, so we believe we should be allowed to give them to an entity allowed to accept unlimited anonymous contributions.</p></li>
	<li><p>We believe that 501(c)4s <em>can</em> accept unlimited, completely anonymous Bitcoin contributions, so long as they are only used for genuine issue advocacy (or contribution to charity) and <em>never</em>, directly or indirectly, used to influence the election of any politician.</p></li>
	<li><p>We believe that some unusual and/or malicious Bitcoin contributions (e.g. ones that are <a href="https://bitcointalk.org/index.php?topic=278122.0">more expensive to spend</a> <a href="https://code.google.com/p/bitcoin-wallet/wiki/DustTransactions">than they're worth</a>) shouldn't be counted at all.</p></li>
</ol>

<p>We intend to raise some of these issues in a future AOR, when we have a specific situation to address (e.g. if we receive an anonymous Bitcoin contribution). Some issues (like refunds or a cap on the total amount given) might be addressable through an "as applied" interpretation of existing regulations, or might require regulatory or legal changes.</p>

<a name="comment"></a>
<h2><a href="#comment">How you can get involved</a></h2>

<p>We want to know what you think, and the FEC does too.</p>

<p>To tell us informally, just email <a href="mailto:team@makeyourlaws.org?subject=Comments%20on%20bitcoin%20AOR">team@makeyourlaws.org</a> or comment on the <%= link_to "Google doc", fec_bitcoin_aor_path, :target => 'blank' %>.</p>

<p>If you <%= link_to "create an account", signup_path %>, we'll also let you know when we launch the Make Your Laws democratized campaign finance website and invite you to the beta. (What you see now is only a placeholder.)</p>

<br/>

<p>To tell the FEC, just email <a href="mailto:ao@fec.gov?subject=Comments%20AO%202014-02">ao@fec.gov</a> or fax the FEC's Secretary at +1 (202) 208-3333 and Office of General Counsel at +1 (202) 219-3923.</p>

<p>Give your name (and the name of any organization you represent), and mention the formal name of our request ("AO 2014-02"). Be clear and polite — explain both how you believe Bitcoins should (or shouldn't) be treated in campaign finance, and why.</p>

<p>If you can, it's better to make a more formal-looking comment. General email comments usually get lumped together, whereas if you take a little extra time to make a good-looking PDF and explain your reasoning in more detail, it'll appear separately and be looked at more seriously. There are no mandatory formatting requirements, but we suggest you use 12 pt Arial w/ 1.5 line spacing for body text; 1 inch margin; and have a header saying "(your [group's] name) comments on AO 2014-02" &amp; the page # / # total pages.</p>


<a name="docs"></a>
<h2><a href="#docs">Official filings in AO 2014-02 (MYL PAC re Bitcoin)</a></h2>

<p>2014-04-17: The FEC published its <a href="http://saos.fec.gov/aodocs/201402_1.pdf">second draft opinion</a>.</p>
<p>2014-04-16: The FEC published its <a href="http://saos.fec.gov/aodocs/201402.pdf">first draft opinion</a>.</p>
<p>2014-03-28: We <a href="http://saos.fec.gov/aodocs/1254119.pdf">granted</a> FEC's request for an extension of time to respond until May 9th.</p>
<p>2014-02-24: <a href="http://saos.fec.gov/aodocs/1252134.pdf">Supplemental information</a> re. our $100 limit on Bitcoin contributions</p>
<p>2014-02-12: <a href="http://saos.fec.gov/aodocs/1251666.pdf">Our request</a> (the <%= link_to "Google doc", fec_bitcoin_aor_path, :target => 'blank' %> is more readable and has usable links)</p>

<% end %>