<%= t "Flexible earmarking" %><a name="top"></a>

<div class="flash notice l">This request is still in draft form; we have not yet submitted it officially. In the meantime, you can <a href="https://docs.google.com/document/d/1WCyUouQdPNTwvVMJdgmYABnu2xMmF8W14l4B8EIb86k/" target="_blank">read and comment on our draft</a>.</div>

<p>Make Your Laws is developing innovative ways to apply the <%= link_to "principles of liquid democracy", introduction_path %>. We're starting with US campaign finance, which is regulated in part by the <a href="http://fec.gov" target="_blank">Federal Election Commission</a> (FEC).</p>

<p>We believe that our developments are entirely consistent with both the letter and the spirit of the law, but for the sake of transparency (and to prevent any legal liability) we want to be certain that the FEC agrees. The FEC has a fairly straightforward way to ask how their regulations apply to specific situations, called an a <a href="http://www.fec.gov/pages/brochures/ao.shtml" target="_blank">advisory opinion request</a> (AOR).</p>

<p>Make Your Laws PAC, Inc. (MYL PAC) is the <%= link_to "arm of MYL", faq_path %> that deals with influencing US elections, and will be filing an AOR to ask about this.</p>

<a name="earmarks"></a>
<div style="text-align: center;"><a href="#questions">Our questions</a> | <a href="#comment">How to participate</a></div>

<h2><a href="#earmarks">A little legal background: "earmarked" contributions</a></h2>

<p>An "earmark" is when you give money to a political action committee (PAC) like MYL PAC, asking that it be spent in a specific way. PACs are required to either obey the request or refuse to accept your money. The FEC has two main rules about earmarks — one <a href="http://www.gpo.gov/fdsys/pkg/CFR-2011-title11-vol1/xml/CFR-2011-title11-vol1-sec102-8.xml" target="_blank">for the general case</a>, some extra if it's <a href="http://www.gpo.gov/fdsys/pkg/CFR-2011-title11-vol1/xml/CFR-2011-title11-vol1-sec110-6.xml" target="_blank">for a specific candidate</a>.</p>

<p>There are strict <a href="http://www.fec.gov/pages/brochures/citizens.shtml#how_much" target="_blank">limits</a> on how much money can be given to a politician or party (aka "hard money"). If you make an earmarked contribution through an intermediary like MYL PAC, it counts as if made directly from you to the ultimate recipient.</p>

<p>However, if the PAC has any "direction or control" over how the money is spent, it doesn't count as an earmark at all. Instead, it's a contribution from you to the PAC (limit $5k/yr), and from the PAC to the recipient (limit ~<a href="http://www.fec.gov/pages/brochures/contrib.shtml#Contribution_Limits" target="_blank">$5-15k/yr</a> per recipient). This means that even if it only accepts money from ordinary people making relatively small donations, the PAC wouldn't be able to handle contributions from more than ~100-1000 people.</p>

<p>That's why we would prefer your contributions be considered earmarks and not direct contributions to MYL PAC. Also, we just don't <em>want</em> to control your decisions. We want to remain completely non-partisan, and making decisions about how your money is spent would compromise our neutrality.</p>

<a name="questions"></a>
<div style="text-align: center;"><a href="#top">Top</a> | <a href="#earmarks">What are earmarks?</a> | <a href="#comment">How to participate</a></div>

<h2><a href="#questions">What we'll ask the FEC</a></h2>

<p>We encourage you to read our <a href="https://docs.google.com/document/d/1WCyUouQdPNTwvVMJdgmYABnu2xMmF8W14l4B8EIb86k/edit" target="_blank">full request</a> for the details — we've tried to ensure that it is clear and understandable to non-specialists — but here is a summary of what we will ask the FEC, and how it affects what you would be able to do on this site.</p>

<ol>
	<li><h3>May a contributor defer a decision to earmark a contribution, or alter an untriggered earmark?</h3>
		
		<p>This would let you set up an automatic monthly payment and choose how you want us to spend that money later on (like if you're using proxies as in 2(f) below).</p>
		<p>It would also let you change your mind about an earmarked contribution (e.g. to change the recipient or trigger), so long as you do it <em>before</em> the triggering event happens.</p>
	</li>
	<li><h3>May a contributor make an earmark contingent on any clearly defined external conditions?</h3>
		
		<p>This would let you contributions more easily and flexibly, by setting conditions and letting us do the tracking and logistical work for you.</p>
		<p>We gave several types of earmarks we'd like you to be able to make:</p>
		
		<ol class="alpha italic">
			<li><p>"$100 to XYZ PAC; or if they do not or cannot accept the contribution, to MYL PAC; or if my contribution limit to MYL PAC is exceeded, to MYL C4"</p>
				
				<p>This would let us have a fallback so that in case something goes wrong, we can use your money to effectively do what you asked us in some other way.</p>
			</li>
			<li><p class="mb-n">"$500, divided equally among every Senator who votes in favor of Senate Bill A when/if it comes to floor vote; or if there is no vote or it has no votes in favor, to be contributed to Americans For A."</p></li>
			<li><p class="mb-n">"$50 to Senator Bob, if Senate Committee B approves Senate Bill C by date D; or to Citizens Against Senator Bob if the bill is not approved by Senate Committee B by that date."</p></li>
			<li><p>"$1,000, divided equally among every 2015 House candidate to whom Citizens For A Better E gives a score of 90% or better by the end of October 2014."</p>
				
				<p>These three would let you contribute money based on specific issues or legislation that you want to you support or oppose. We'd handle the work of tracking votes, outcomes, etc.</p>
				<p>It would also make collective action on a specific issue or bill much easier. By making contributions ahead of time, you could join together with people who agree with you on the issue in making your collective intent clear and raising funds while the debate is still fresh.</p>
			</li>
			<li><p>"$200 to F PAC, only in the event that pledges to F PAC total at least $10,000 or 500 contributors by Date G; or if the pledge requirement is not met, no contribution."</p>
				
				<p>This is the "Kickstarter model" for campaign finance. It lets you pledge contributions to small (or would-be) campaigns which need some minimum amount to be realistically viable.</p>
			</li>
			<li><p>"$50 per month, divided proportionally in whatever way MYL website user H recommends, to take effect unless I override this earmark within one week of being sent H's updated recommendations."</p>
				
				<p>This lets campaign finance work like a <%= link_to "liquid democracy", introduction_path %> in a way that's easy to use and completely transparent.</p>
				<p>As a contributor, you could set how much you want to spend per month, and have it spent based on the recommendations of people you trust ("proxies").</p>
				<p>Your proxies might include someone who is particularly knowledgable about some specific issue. You could also just proxy 100% to a friend who shares your values but is more politically active, who in turn picks experts for some issues and has their own opinions on others.</p>
				<p>As a politically active blogger, you could give your readers a link or widget that lets them easily include your recommendations in their monthly contribution plan (or just make a one-off contribution to support the issue you write about in a specific post).</p>
				<p>In all cases, the contributor retains complete control over how their money is spent (and we make sure all the laws are followed). The proxy system just gives an option that makes participation easier and social influence more transparent.</p>
			</li>
		</ol>
	</li>
	<li><h3>May MYL PAC notify potentially affected recipients of contingent earmarks?</h3>
		
		<p>This would let us automatically tell potential recipients (like your representatives) about earmarks that affect them — letting them know how people feel about an issue, demographic breakdowns (like their constituents' views), etc.</p>
		<p>We would make all of that information publicly available on this website anyway; this question just asks whether we can <em>notify</em> potential recipients, so that they know in advance what's going on and so we can make everything more transparent.</p>
	</li>
	<li><h3>How would the answers to the above questions be different for contributions made by MYL PAC itself out of direct contributions to MYL PAC by its users, when its users give MYL PAC non-binding guidance on how they would prefer their money be used?</h3>
		
		<p>This would give us a fallback option in case something might not be allowed using an earmark but would be allowed if we have more control. It also helps make clearer for us how much we can communicate with you informally about how you want your money spent.</p>
	</li>
	<li><h3>Does MYL PAC's payment for the costs of payment processing and other direct costs of fundraising — including its payment of the general costs of website operation and advertisement overall — constitute an "independent expenditure" or "contribution"? How should such costs be reported?</h3>
		
		<p>PACs are required to report all their expenses, but some (like <a href="http://www.fec.gov/pages/brochures/indexp.shtml#IE" target="_blank">"independent expenditures"</a>), require more detailed reporting. It's mainly intended to make partisan PACs report money they spend mailing letters asking people to contribute to or vote for their preferred candidates, and to make Super PACs to report their advertising. These are benefits to transparency that we definitely support.</p>
		<p>However, we're non-partisan and want to make it easy for you contribute to <em>any</em> political recipient; we'd be treating thousands of different recipients (all across the political spectrum) in exactly the same way. It'd be fairly hard for us to separately report exactly what portion of our general website or advertising expenses are for any particular recipient.</p>
		<p>The regulation requiring extra reporting for such things just doesn't really apply to us, and we'd like to avoid the complications involved.</p>
	</li>	
</ol>


<a name="comment"></a>
<div style="text-align: center;"><a href="#top">Top</a> | <a href="#earmarks">What are earmarks?</a> | <a href="#questions">Our questions</a></div>
	
<h2><a href="#comment">How you can get involved</a></h2>

<p>We want to know what you think, and the FEC does too.</p>

<p>To tell us informally, just email <a href="mailto:team@makeyourlaws.org?subject=Comments%20on%20earmarking%20AOR">team@makeyourlaws.org</a> or use <a href="https://docs.google.com/document/d/1WCyUouQdPNTwvVMJdgmYABnu2xMmF8W14l4B8EIb86k/edit?usp=sharing" target="_blank">comments on the google doc</a>.</p>

<p>Once we submit our request, you'll also be email the FEC with your formal comments.</p>

<p>If you <%= link_to "create an account", signup_path %> on this website, we'll let you know when that happens. (You won't be able to do anything else yet, since we're not yet launched, but we'll also let you know when we launch.)</p>

<!-- <p>To tell the FEC formally, just email <a href="mailto:ao@fec.gov?subject=Comments%20AO%20ouraornumberhere%20MYL%20PAC">ao@fec.gov</a> or fax the FEC's Secretary ((202) 208-3333) and Office of General Counsel ((202) 219-3923).</p>

<p>Make sure to mention the formal name of our request ("AO ouraornumberhere MYL PAC"), include your name and the name of any organization you represent. Be clear and polite, and give specific explanations for how you think our questions should be answered.</p>

<p>If you can, it's better to make a more formal-looking comment. General email comments usually get lumped together, whereas if you take a little extra time to make a good-looking PDF, it'll appear separately and be looked at more seriously.</p>

<p>There are no specific formatting requirements, but we suggest you use 12 pt Arial w/ 1.5 line spacing for body text; 1 inch margin; and have a header saying "(your [group's] name) comments on AO ouraornumberhere MYL PAC" &amp; the page # / # total pages.</p> -->