<%= link_to "PayPal transactions list", paypal_transactions_path %>

<h3>Summary</h3>

<%= render :partial => 'transactions', :locals => {:transactions => [@transaction]} %>

<h3>Components</h3>
<table>
	<tr>
		<th>ID</th>
		<th>transaction status</th>
		<th>receiver</th>
		<th>amount</th>
		<th>pending refund</th>
	</tr>
	<% @transaction.details['paymentInfoList']['paymentInfo'].each do |subtransaction| %>
	   <tr>
	    <td><%= subtransaction['transactionId'] %></td>
	    <td><%= subtransaction['transactionStatus'] %></td>
	    <td><%= subtransaction['receiver']['email'] %></td>
	    <td><%= humanized_money_with_symbol subtransaction['receiver']['amount'] %></td>
	    <td><%= subtransaction['pendingRefund'] %></td>
	   </tr>
	<% end %>
</table>