t.references :legal_committee, :polymorphic => true # eg an Fec::Committee, etc
t.string :jurisdiction # e.g. "California", "United States"
t.string :acronym
t.string :short_name # e.g. "No on 29"
t.string :full_name # full formal name, e.g. "No on 29—Californians Against Out-of-Control Taxes and Spending, a coalition of taxpayers, small businesses, law enforcement and labor"
t.string :type 
t.string :legal_id # according to the state campaign finance regulator

# TODO: normalize out
# This is the corporation owning the committee, if any
t.string :corporation_acronym
t.string :corporation_full_name
t.string :corporation_type # 501(c)3, 501(c)4, 527 PAC, 527 multicandidate PAC, 527 Super PAC, 527 Hybrid Super PAC, 527 Non-PAC, 527 SSF, 527 Leadership PAC, etc
t.string :corporation_ein

t.string :contact_name # i.e. the main human in charge
t.string :contact_title
t.string :email
t.string :phone
t.string :url
t.string :party # if affiliated

t.string :address # for sending checks; will be made out to the full name
t.string :paypal_email

t.string :status
t.text :notes # for admins only

t.boolean :foreign_contributions_okay, :default => false



<tr>
	<td><%= f.label :jurisdiction, :class => 'required' %></td>
	<td><%= f.select :jurisdiction, JURISDICTIONS, {:include_blank => true } %></td>
</tr>
<tr>
	<td><%= f.label :legal_id %></td>
	<td><%= f.text_field :legal_id %></td>
	<td><i>Committee's state/federal ID #</i></td>
<tr>
	<td><%= f.label :acronym %></td>
	<td><%= f.text_field :acronym %></td>
</tr>
<tr>
	<td><%= f.label :short_name %></td>
	<td><%= f.text_field :short_name, :placeholder => "e.g. No on 29" %></td>
</tr>
<tr>
	<td><%= f.label :full_name %></td>
	<td><%= f.text_field :full_name, :length => 200, :placeholder => "e.g. No on 29—Californians Against Out-of-Control Taxes and Spending, a coalition of taxpayers, small businesses, law enforcement and labor" %></td>
</tr>
<tr>
	<td><%= f.label :type %></td>
	<td><%= f.text_field :type %></td>
	<td><i>general purpose, small contributor, independent expenditure, non-contribution, etc</i></td>
</tr>
<tr>
	<td><%= f.label :foreign_contributions_okay %></td>
	<td><%= f.check_box :foreign_contributions_okay %></td>
	<td><i>leave false until we get FEC advice</i></td>
<hr>
<tr>
	<td><%= f.label :corporation_full_name %></td>
	<td><%= f.text_field :corporation_full_name %></td>
	<td><i>The corporation that owns this committee</i></td>
</tr>
<tr>
	<td><%= f.label :corporation_acronym %></td>
	<td><%= f.text_field :corporation_acronym %></td>
</tr>
<tr>
	<td><%= f.label :corporation_type %></td>
	<td><%= f.text_field :corporation_type %></td>
	<td><i>501(c)3, 501(c)4, 527 PAC, 527 multicandidate PAC, 527 Super PAC, 527 Hybrid Super PAC, 527 Non-PAC, 527 SSF, 527 Leadership PAC, etc</i></td>
</tr>
<tr>
	<td><%= f.label :corporation_ein %></td>
	<td><%= f.text_field :corporation_ein %></td>
</tr>
<hr>
<tr>
	<td><%= f.label :contact_name %></td>
	<td><%= f.text_field :contact_name %></td>
</tr>
<tr>
	<td><%= f.label :contact_title %></td>
	<td><%= f.text_field :contact_title %></td>
</tr>
<tr>
	<td><%= f.label :email %></td>
	<td><%= f.email_field :email %></td>
</tr>
<tr>
	<td><%= f.label :phone %></td>
	<td><%= f.text_field :phone %></td>
</tr>
<tr>
	<td><%= f.label :url %></td>
	<td><%= f.text_field :url %></td>
</tr>
<tr>
	<td><%= f.label :party %></td>
	<td><%= f.text_field :party %></td>
	<td><i>if affiliated, de facto or official</i></td>
</tr>
<hr>
<tr>
	<td><%= f.label :address %></td>
	<td><%= f.text_field :address %></td>
	<td><i>for sending checks</i></td>
</tr>
<tr>
	<td><%= f.label :paypal_email %></td>
	<td><%= f.text_field :paypal_email %></td>
</tr>
<hr>
<tr>
	<td><%= f.label :notes %></td>
	<td><%= f.text_area :notes %></td>
	<td><i>MYL internal</i></td>
</tr>