<% t "Log in or sign up" %>
<div style="float:left; margin-right: 20px;">
	<h1>Log in</h1>

	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <div><%= f.label :email, :class => 'required' %><br />
	  <%= f.email_field :email, :'x-autocompletetype' => 'email', :autofocus => true %></div>

	  <div><%= f.label :password, :class => 'required' %>
			<%= link_to "Forgot it?", new_password_path(resource_name) %><br />
	  <%= f.password_field :password %></div>

      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>

	  <div><%= f.submit "Sign in", data: { disable_with: "Processing…"} %></div>
	<% end %>
</div>

<div style="float:left; margin-right: 20px;">
	<h1>Sign up</h1>

	<%= render :partial => 'users/registrations/signup_form'%>

</div>

<% unless tor? %>
	<div style="float:left">
		<h1>… or sign in with:</h1>

		<%= render :partial => "identities/links" %>
	</div>
<% end %>