<html xmlns:fb="http://www.facebook.com/2008/fbml">
	<head>
		<meta http-equiv="Content-Type" Content="text/html;charset=UTF-8">
		<%= stylesheet_link_tag :all, :cache => true, :recursive => true %>
		<%= javascript_include_tag :all, :cache => true, :recursive => true %>
		<%= csrf_meta_tag %>
		<link rel="shortcut icon" href="favicon.ico">
		<meta name="title" content="Make Your Laws" />
		<meta name="robots" content="all" />
		<title>Make Your Laws</title>
	</head>
	<body>
		<div id="doc" class="yui-t1">
			<!-- <div id="header" role="banner">
			</div> -->
			<div id="bd"><!--body-->
				<div id="yui-main"> 
					<div class="yui-b" id="content"  role="main"><!--primary-->
						<%= yield %>		
					</div><!-- primary -->
				</div><!-- main -->
					
				<div class="yui-b"><!--secondary-->
					<h1>Make Your Laws</h1>
					<bq>This is what democracy looks like.</bq>
					<ul>
						<li><%= link_to_unless_current "Main", root_path %></li>
						<li><%= link_to_unless_current "Introduction", introduction_path %></li>
						<li><%= link_to_unless_current "Principles", principles_path %></li>
						<li><%= link_to_unless_current "Strategy", strategy_path %></li>
						<li><%= link_to_unless_current "Help us", help_path %></li>
						<li><%= link_to_unless_current "Contact", contact_path %></li>
					</ul>
					<%= render :partial => 'layouts/google_analytics' %>
					<%= render :partial => 'layouts/addthis' %>
				</div><!-- secondary -->
			</div><!-- bd -->
		</div><!--doc -->
	</body>
</html>