<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
	<head>
		<meta http-equiv="Content-Type" Content="text/html;charset=UTF-8">
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= favicon_link_tag %>
		<meta name="title" content="Make Your Laws" />
		<meta name="robots" content="all" />
		<link href="https://plus.google.com/100183759660923071401" rel="publisher" />
		<title>Make Your Laws</title>
		<%= render :partial => '/layouts/mixpanel' %>
	</head>
	<body>
		<script>if (top!= self)  // frame breaker
		 if (location) top.location.replace(self.location.href) 
		 else top.document.location.replace(self.document.location.href);</script>
		<div id="doc" class="yui-t1">
			<div id="hd" role="banner"><!--header / masthead-->
				<noscript>
					<div style="font-size: 1.5em;" class="flash error">
						Please turn on JavaScript! We actually do need it to function properly.
					</div>
				</noscript>
				<%= render :partial => '/layouts/user_header' %>
				<%= render :partial => '/layouts/flashes' -%>
			</div> 
			<div id="bd"><!--body-->
				<div id="yui-main"> 
					<div class="yui-b" id="content"  role="main"><!--primary-->
						<%= yield %>		
					</div><!-- primary -->
				</div><!-- main -->
					
				<div class="yui-b"><!--secondary-->
					<%= image_tag "myl_165.png", :alt => "Make Your Laws logo", :width => 165, :height => 120 %>
					<center><i><b>This</b> is what democracy looks like.</i></center>
					<ul>
						<% if user_signed_in? %>
							<li><%= link_to_unless_current "Initiatives", initiatives_path %></li>
							<hr>
						<% end %>
						<li><%= link_to_unless_current "Main", root_path %></li>
						<li><%= link_to_unless_current "Introduction", introduction_path %></li>
						<li><%= link_to_unless_current "Principles", principles_path %></li>
						<li><%= link_to_unless_current "Strategy", strategy_path %></li>
						<li><%= link_to_unless_current "FAQ", faq_path %></li>
						<li><%= link_to_unless_current "Help us", help_path %></li>
						<li><%= link_to_unless_current "Contact", contact_path %></li>
					</ul>
					<%= render :partial => 'layouts/google_analytics' %>
					<%= render :partial => 'layouts/outlinks' %>
				</div><!-- secondary -->
			</div><!-- bd -->
		</div><!--doc -->
	</body>
</html>
