<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
	<head>
		<meta http-equiv="Content-Type" Content="text/html;charset=UTF-8">
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<% unless tor? %>
			<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
			<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
		<% end %>
		<%= favicon_link_tag %>
		<meta name="robots" content="all" />
		<link href="https://plus.google.com/100183759660923071401" rel="publisher" />
		<%= csrf_meta_tags %>
		<meta name="title" content="Make Your Laws: <%= yield :title %>" />
		<title>Make Your Laws: <%= yield :title %></title>
<% cache ['body-preheader', tor_s] do %>
		<%= render :partial => '/layouts/mixpanel' unless tor? %>
	</head>
	<body>
		<% unless tor? %>
			<script>if (top!= self)  // frame breaker
			 if (location) top.location.replace(self.location.href)
			 else top.document.location.replace(self.document.location.href);</script>
		<% end %>
		<div id="doc" class="yui-t1">
			<div id="hd" role="banner"><!--header / masthead-->
				<% unless tor? # tor users have JS turned off %>
					<noscript>
						<div style="font-size: 1.5em;" class="flash error">
							Please turn on JavaScript! We actually do need it to function properly.<br/>
							<%= image_tag "tor-off_16.png", alt: "Tor?", width: 16, height: 16 %>
							If you're paranoid, go visit our <a href="http://<%= Keys.get 'tor_hostname' %>">Tor hidden service</a> instead.
						</div>
					</noscript>
				<% end %>
				<% if tor? and !hidden_service? %>
					<div style="font-size: 1.5em;" class="flash notice">
						Hello, Tor user! You probably want to use our <a href="http://<%= Keys.get 'tor_hostname' %>">Tor hidden service</a> instead.
					</div>
				<% end %>
<% end %>
				<%= render :partial => '/layouts/user_header' %>
				<%= render :partial => '/carts/cart_banner' %>
			</div>
			<div id="bd"><!--body-->
				<div id="yui-main">
					<div class="yui-b" role="main"><!--primary-->
						<%= render :partial => '/layouts/flashes' -%>
						<% if user_signed_in? %>
							<div class="flash info">Thanks for signing up! We'll email you an invite when we go beta.</div>
						<% end %>

						<div id="content"><%= yield %></div>

<% cache 'sidebar_top' do %>
					</div><!-- primary -->
				</div><!-- main -->
				<div class="yui-b"><!--secondary-->
					<%= image_tag "myl_165.png", :alt => "Make Your Laws logo", :width => 165, :height => 120 %>
					<div class="c i"><strong>This</strong> is what democracy looks like.</div>
<% end %>
					<%= render :partial => 'layouts/menu' %>
<% cache ['sidebar_bottom', tor_s] do %>
					<%= render :partial => 'layouts/outlinks' %>
				</div><!-- secondary -->
			</div><!-- bd -->
			<div id="ft" role="banner"><!--header / masthead-->
				<div id="disclaimer">makeyourlaws.org is paid for by Make Your Laws PAC, Inc. (MYL PAC) and not authorized by any candidate or candidate's committee. Contributions or gifts to MYL PAC and/or Make Your Laws Advocacy, Inc. (MYL C4) are not deductible as charitable contributions for Federal income tax purposes. Contributions to Make Your Laws, Inc. (MYL C3) are tax-deductible.</div>
			</div>
		</div><!--doc -->

		<%= render :partial => 'layouts/google_analytics' unless tor? %>
	</body>
</html>
<% end %>
